#header{
    font-size: 25px;
    font-weight: 700;
   color: #F9FAF8;
   margin-left: 70px;
   
}

ul{
list-style-type: none;
display: flex;
gap: 16px;
justify-content: space-around ;
color: #F9FAF8;
}

.container1{
display: flex;
background-color: #1F2937;
}

.right-links{
    margin-left: auto;
}


.container2{
    display: flex;
    
}

.title{
font-size: 48px;
font-weight: bolder;
flex-wrap: wrap;
margin-bottom: 0px;

}
/*need to make the title extra-bold*/
.batman{
    display: flex;
    margin-left: 200px;
    margin-right: 70px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.container2{
border-left: 70px;
border-top: 80px;
display: flex;
justify-content: space-between;
background-color: #1F2937;
color: white;
}

.subcontainer2{
    margin-left: 70px;
margin-top: 80px;
}

p{
    display: flex;
    margin-right: 70px;
}

body{
    margin:0;
}