#header{
    font-size: 25px;
    font-weight: 700;
   color: #F9FAF8;
   margin-left: 70px;
   
}

ul{
list-style-type: none;
display: flex;
gap: 16px;
justify-content: space-around ;
color: #F9FAF8;
}

.container1{
display: flex;
background-color: #1F2937;
}

.right-links{
    margin-left: auto;
}


.container2{
    display: flex;
    
}

.title{
font-size: 48px;
font-weight: bolder;
flex-wrap: wrap;
margin-bottom: 0px;

}
/*need to make the title extra-bold*/
.batman{
    display: flex;
    margin-left: 200px;
    margin-right: 70px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.container2{
border-left: 70px;
border-top: 80px;
display: flex;
justify-content: space-between;
background-color: #1F2937;
color: white;
}

.subcontainer2{
    margin-left: 70px;
margin-top: 80px;
}

p{
    display: flex;
    margin-right: 70px;
}

body{
    margin:0;
}

.container3{
    
}

.subcontainer3{
    display: flex;
    margin-top: 20px;
    gap: 70px;
    margin-left: 110px;
    padding-bottom: 100px;
}

.randominfo{
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin-left: 400px;
    margin-top: 50px;
}

.villians{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;

}

.joker{
    width:  180px;
    height: 200px;
    border: 5px;
    border-style: solid ;
    border-color: #1F2937;
}

.harley{
    width: 180px;
    height: 200px;
    border: 5px;
    border-style: solid ;
    border-color: #1F2937;
}

.bane{
    width: 180px;
    height: 200px;
    border: 5px;
    border-style: solid ;
    border-color: #1F2937;
}

.slade{
    width: 100px;
    height: 200px;
    border: 5px;
    border-style: solid ;
    border-color: #1F2937;
}

.quote{
    font-size: 36px;
    font-style: italic;
    padding: 0px 180px;
   padding-left: 200px;
   padding-top: 100px;
   padding-bottom: 100px;
   margin-bottom: 100px;
   background-color: #e5e7eb;
}

.-batman{
  font-size: larger; 
  font-weight: bold; 
  font-style: none;
  margin-left: 500px;
  color: #1F2937;
}